
.global{
	height: 497px; width: 1144px;
}

span{
     margin:-52%;
	 width:10px;
}

 #genre_1 {
    float: right;
    margin-left: 25%;
    margin-right: 0;
	color:black;
	font-size: 14px;
}

 #genre_2 {
    float: right;
    margin-left: 18%;
    margin-right: 35%;
	color:black;
	font-size: 14px;
}

#text-unter {
    margin-top: 28%;
}

#favorite{
     width:114%;
     }

label {
    margin: 0 78px 0 0;
}

#genre{
     margin-right:50;
}

.feld {
     border-color: black;
     border-style: solid;
     border-width: 1px;
     height: 18px;
     padding: 0;
     width: 149px;
	 text-align:right;
	   
	  
}

#input_right1 input{
	border-left-width: 0px;
}

#input_right2 input{
	border-left-width: 0px;
}	 

.feld:focus { 
    outline: none;
    border-color: rgb(63,72,204);
    box-shadow: 0 0 10px #9ecaed;
}
	 
body fieldset { background-color:rgb(153,217,234) ;
            padding: 90px
		 }
	 
#text-right{ 
         float:right;
		 padding-left: 0px; height: 106px; width: 257px;
		 padding-right: 151px;
		 }
#text-right input{ 
         float:right;
		 }
	 
#text-left{ 
         float:left;
		 width:50%;
		 }
#text-left input{ 
         float:right;
		 }
		 
.schrifft_gross{ color:rgb(63,72,204);
                  font-weight: bold;
			      font-size: 16px;
				  width:59%;
              }
h1{ 
     color:rgb(63,72,204);
     font-weight: bold;
     text-align:center ;
	 font-size: 22px;
	 padding-bottom: 51px;
	 padding-right: 336px;
              }
.schrifft_klein{ 
             color:rgb(63,72,204);
               }


#send input {
    background-color: rgb(0, 162, 232);
    border-color: rgb(63, 72, 204);
    border-style: solid;
    border-width: 4px;
    color: rgb(63, 72, 204);
    font-weight: bold;
    margin-top: 50px;
    padding: 10px 117px;
}


#send {
     text-align:center;
}
#send  input:value{
     color:rgb(63,72,204);
    }
	

	