button {
	border-color: rgb(63, 72, 204);
	border-style: solid;
	padding-left: 108px;
	padding-right: 108px;
	border-width: 5px 5px 5px 5px;
	background: rgb(0,162,232);
	font-weight: bold;
}


table, th, td, tr {
	border-style: solid;
	border-color: rgb(63, 72, 204);
	border-collapse: collapse;
	border-width: 5px;
	
}

 td{
	color: rgb(63, 72, 204);
	text-align : center ;
	
}




#menu {
	text-align: center;
}

#horror {
	border-width: 5px 0px 5px 5px;
}

body fieldset { 
	background-color:rgb(153,217,234) ;
    padding: 90px
 }

h1{
	text-align: center;
	color: rgb(63,72,204);
}
